<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Házifeladat</title>
</head>

<body>
    <div class="container">
        <button id="fetch-user" class="btn btn-primary">Felhasználók</button>
        <div id="user-list-components"></div>
        <form id="create-user">
            <label>Név: <input type="text" name="name" class="form-control"></label>
            <br>
            <label>Email cím: <input type="text" name="email" class="form-control"></label>
            <br>
            <label>Telefon szám: <input type="text" name="tel" class="form-control"></label>
            <br>
            <button type="submit" class="btn btn-primary">Felvétel</button>
        </form>
    </div>
    <script type="text/javascript" src="public/script.js"></script>
</body>

</html>
